body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 8vw 92vw;
  border: 3px green solid;
}

#sideBar {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  border: 3px rgb(128, 9, 0) solid;
}
.sideButton {
  width: 100%;
  height: 30%;
  border-radius: 15px;
  border: 0px;
}

#rightSdie {
  display: grid;
  grid-template-rows: 5vh 95vh;
  border: 3px rgb(0, 128, 28) solid;
}
#topRow {
  display: flex;
  justify-content: space-around;
}
#searchSection {
  display: flex;
  align-self: center;
  gap: 10px;
  height: 30px;
}
#search {
  border-radius: 10px;
}
#submit {
  border-radius: 10px;
  width: 90px;
  border: 0;
}
#seriesOptions {
  align-self: center;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  height: 20px;
}
.buttonOptions {
  border-radius: 15px;
  border: 0px;
  width: 60px;
}
#sortOptions {
  align-self: center;
  display: flex;
  gap: 10px;
}
.sortButton {
  border-radius: 15px;
  border: 0px;
  width: 60px;
}
#mobility {
  align-self: center;
  display: flex;
  gap: 10px;
}
.mobButton {
  border-radius: 15px;
  border: 0px;
  width: 40px;
}
#reset {
  height: 30px;
  width: 60px;
  align-self: center;
}
#content {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(3, 315px);
  height: 95vh;
  gap: 5px;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%; /* Ensure card height matches the grid cell */
  border: 1px solid green;
  overflow: hidden;
}
.cardTop {
  display: flex;
  justify-content: space-between;
}
.left {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove {
  border-radius: 15px;
  border: 0px;
  width: 80px;
  height: 30px;
}
.addButton {
  border-radius: 15px;
  border: 0px;
  width: 40px;
  height: 30px;
}
.photos {
  width: 75%;
  height: 75%;
  object-fit: cover; /* Fill area without distortion */
  justify-self: center;
  align-self: center; /* Center vertically */

  background: pink;
}

.pressed {
  background-color: rgb(167, 209, 215);
}

.notPressed {
  background-color: rgb(201, 201, 210);
}

.modalOverlay {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(84, 195, 233);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 20px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
#modelContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-weight: 700;
}
.questions {
  display: grid;
}
#math1 {
  align-self: center;
  width: 40%;
  border-radius: 7px;
  border: 0;
  font-weight: 700;
}
#value {
  border-radius: 5px;
  border: 0;
}
